---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
const pageTitle = 'Tags'
---
<BaseLayout pageTitle={pageTitle}>
  <p>Posts tagged</p>

</BaseLayout>